@charset "UTF-8";

@font-face {
  font-family: "acrom";
  font-display: swap;
  src: url("../fonts/acromLight.woff") format("woff"), url("../fonts/acromLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "acrom";
  font-display: swap;
  src: url("../fonts/acromRegular.woff") format("woff"), url("../fonts/acromRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "acrom";
  font-display: swap;
  src: url("../fonts/acromMedium.woff") format("woff"), url("../fonts/acromMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "acrom";
  font-display: swap;
  src: url("../fonts/acromBold.woff") format("woff"), url("../fonts/acromBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "PFBaselinePro";
  font-display: swap;
  src: url("../fonts/PFBaselineProRegular.woff") format("woff"), url("../fonts/PFBaselineProRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "verdana";
  font-display: swap;
  src: url("../fonts/verdanaRegular.woff") format("woff"), url("../fonts/verdanaRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'icons';
  src: url("fonts/icons.woff") format("woff"), url("fonts/icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-phone:before {
  content: "\e900";
}

/*Обнуление*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "acrom", sans-serif;
  height: 100%;
}

body {
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body.lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-h2 {
  text-transform: uppercase;
  color: #393939;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-h2:before {
  content: "";
  display: inline-block;
  background: #ff9739;
}

.icon-menu {
  display: none;
}

.icon-menu__item {
  display: none;
}

.header__title {
  color: #6a6a69;
}

.header__contact {
  text-align: right;
}

.header__contact span {
  color: #6a6a69;
}

.header__contact a:not(.header__phone) {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ff9739;
}

.header__contact span,
.header__contact a:not(.header__phone) {
  display: block;
}

.footer__row {
  display: grid;
}

.footer__copyrigth {
  grid-area: l;
  color: #393939;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list {
  grid-area: c;
  text-align: center;
}

.footer__list a {
  color: #393939;
}

.footer__last {
  grid-area: r;
  text-align: right;
  color: #393939;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.hero-main__bg {
  width: 100%;
}

.calculator__title {
  text-transform: uppercase;
  color: #393939;
}

.calculator input {
  width: 100%;
}

.calculator input:not([type="submit"]) {
  margin-bottom: 15px;
}

.calculator input[type="text"] {
  padding: 15px;
  border-radius: 3px;
}

.calculator input[type="text"]:focus {
  border: 1px solid #ff9739;
}

.calculator input[type="submit"] {
  border-radius: 3px;
  background: #ff9739;
}

.presentation {
  border-radius: 90px 0px 90px 0px;
}

.presentation__img {
  position: relative;
}

.presentation__img-wrapper {
  display: inline-block;
  position: relative;
}

.presentation__main-img {
  position: relative;
  width: 100%;
}

.presentation__playbutton {
  position: absolute;
  display: block;
}

.presentation__content {
  color: #ffff;
  background: #f8be4f;
  border-radius: 0px 0px 100px 0px;
}

.presentation__title:before {
  content: "";
  background: #ff9739;
  position: absolute;
  left: 0;
  bottom: 8px;
}

.benefits__list li {
  text-transform: uppercase;
  color: #393939;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__list li:nth-child(1) .benefits__icon {
  background-color: #fef8e6;
}

.benefits__list li:nth-child(2) .benefits__icon {
  background-color: #e3e5ff;
}

.benefits__list li:nth-child(3) .benefits__icon {
  background-color: #fff3ec;
}

.benefits__list li:nth-child(4) .benefits__icon {
  background-color: #ebf7ff;
}

.benefits__list li:nth-child(5) .benefits__icon {
  background-color: #e5f5f2;
}

.benefits__list li:nth-child(6) .benefits__icon {
  background-color: #daffff;
}

.benefits__icon {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
}

.wedrive {
  margin-bottom: 70px;
}

.wedrive__title {
  position: relative;
}

.wedrive__tab {
  text-transform: uppercase;
  color: #393939;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.wedrive__tab_active {
  padding-left: 18px;
}

.wedrive__tab_active span {
  -webkit-transition: padding-left 0.5s ease 0s;
  -o-transition: padding-left 0.5s ease 0s;
  transition: padding-left 0.5s ease 0s;
  font-weight: bold;
  color: #ff9739;
  padding-left: 19px;
  position: relative;
  padding-top: 10px;
  display: block;
}

.wedrive__tab_active span:before {
  content: "";
  width: 5px;
  height: 61px;
  background: #ff9739;
  display: inline-block;
  position: absolute;
  bottom: -3px;
  left: 0px;
}

.wedrive__tabs-content {
  display: none;
}

.wedrive__tabs-content-title {
  text-transform: uppercase;
  color: #393939;
  margin-bottom: 20px;
}

.wedrive__tabs-content-weigth {
  display: inline-block;
  border: 2px solid #ecedf3;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #393939;
  padding: 13px 18px 17px 18px;
}

.wedrive__tabs-content-img {
  text-align: right;
}

.card-price {
  background: #f9f9f9;
  position: relative;
}

.card-price__title {
  text-transform: uppercase;
  color: #393939;
}

.spoiler-answer {
  -webkit-transition: margin 0s;
  -o-transition: margin 0s;
  transition: margin 0s;
  background: #f7f8fa;
  border-radius: 3px;
  position: relative;
}

.spoiler-answer:last-child {
  margin-bottom: 0;
}

.spoiler-answer__title {
  color: #393939;
}

.spoiler-answer__close {
  content: "";
  display: inline-block;
  position: absolute;
}

.spoiler-answer__text {
  color: #393939;
}

.call {
  --borderWidth: 3px;
}

.call__content {
  position: relative;
  margin-left: -10px;
}

.call__line {
  display: none;
}

.call__text {
  position: relative;
  color: #393939;
}

.call__text:before {
  content: "";
  display: inline-block;
  left: 0;
  top: 0;
  position: absolute;
  width: 42.07px;
  height: 42.5px;
  z-index: 1;
}

.call__line-top,
.call__line-bottom {
  display: inline-block;
  position: absolute;
  top: 0;
  border: var(--borderWidth) solid transparent;
  border-radius: 50%;
}

.work {
  background: #f9f9f9;
}

.grid-item:nth-child(3n + 1) {
  grid-column: span 2;
}

.grid-item img {
  width: 100%;
}

.svg svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 100%;
  height: 100%;
}

.test {
  font-family: "Bebas Neue";
  font-weight: 700;
  max-width: 284px;
  font-size: 169px;
  max-height: 390px;
  margin-right: 100px;
  color: red;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

@media (min-width: 320px) {
  .main-h2 {
    font-size: 24px;
  }

  .main-h2:before {
    margin-right: 21px;
    width: 5px;
    height: 100px;
  }

  .header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 63px;
            flex: 0 0 63px;
  }

  .header__logo img {
    max-width: 100%;
  }

  .header__title {
    display: none;
  }

  .header__subtitle {
    display: none;
  }

  .header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__social a {
    background-color: #ff9739;
    display: block;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__social a:not(:last-child) {
    margin-right: 7.67px;
  }

  .header__social a:nth-child(1) img {
    margin-left: -2px;
  }

  .header__social a:nth-child(2) img {
    margin-right: -2px;
  }

  .header__social a:nth-child(3) img {
    margin-right: -1px;
    margin-bottom: -1px;
  }

  .header__social a img {
    max-width: 60%;
  }

  .header__contact span,
  .header__contact a:not(.header__phone) {
    display: none;
  }

  .header__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 33px;
    height: 33px;
    background-color: #ff9739;
    border-radius: 50%;
  }

  .footer {
    padding: 17px 0 43px 0;
  }

  .footer__row {
    row-gap: 15px;
    grid-template-areas: "c c c c" "l l r r";
  }

  .footer__copyrigth {
    font-size: 10px;
    line-height: 12px;
  }

  .footer__list a {
    font-size: 10px;
    line-height: 16px;
    display: block;
  }

  .footer__last {
    font-size: 6px;
    line-height: 7px;
    max-width: 174px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
    justify-self: end;
  }

  .footer__last img {
    margin-left: 8px;
  }

  .hero-main {
    margin-bottom: 57px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .hero-main__bg {
    min-height: 375px;
    background: url("../img/mainBg-mobile.jpg") no-repeat center/cover;
  }

  .calculator {
    padding-top: 15px;
  }

  .calculator__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 20px;
  }

  .calculator input[type="submit"] {
    padding: 15px;
    font-size: 18px;
    color: #fff;
  }

  .calculator input[type="submit"]:focus {
    border: 1px solid #ff9739;
    border-radius: 3px;
  }

  .presentation__title {
    font-weight: 500;
    font-size: 31px;
    line-height: 37px;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
    padding: 0 0 0 15px;
  }

  .presentation__title:before {
    width: 5.73px;
    height: 90.58px;
  }

  .presentation__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #fff;
  }

  .presentation__content {
    padding: 35px 24px 41px 24px;
  }

  .presentation__main-img {
    border-radius: 100px 0 0 0;
  }

  .presentation__playbutton {
    bottom: 0;
    right: 0;
  }

  .benefits {
    margin-top: 66px;
    margin-bottom: 79px;
  }

  .benefits__list li {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .wedrive__title {
    margin-bottom: 45px;
    padding-left: 15px;
  }

  .wedrive__title span {
    max-width: 154px;
  }

  .wedrive__title:before {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  .wedrive__tab {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-bottom: 37px;
  }

  .wedrive__tab:not(.wedrive__tab_active) {
    margin-left: -8px;
  }

  .wedrive__tab_active .wedrive__tabs-content {
    display: block;
    padding: 53px 0;
  }

  .wedrive__tabs-content-title {
    font-weight: 500;
    font-size: 28px;
  }

  .wedrive__tabs-content-img {
    overflow: hidden;
  }

  .wedrive__tabs-content-img img {
    width: 360px;
    height: 159px;
    margin-right: -15px;
    -webkit-transform: translateX(25%);
        -ms-transform: translateX(25%);
            transform: translateX(25%);
  }

  .price__title {
    margin-bottom: 7px;
  }

  .card-price {
    margin-bottom: 20px;
    border-radius: 30px 0px 50px 0px;
    overflow: hidden;
    padding: 50px 6px 50px 6px;
    margin-left: -16px;
  }

  .card-price__title {
    font-size: 24px;
    margin-bottom: 39px;
  }

  .card-price__prices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }

  .card-price__city {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 153px;
            flex: 0 0 153px;
  }

  .card-price__city,
  .card-price__price {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .card-price__img {
    text-align: right;
    width: 100%;
    margin-top: 30px;
  }

  .card-price__img img {
    width: 221px;
    height: 134px;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: right;
       object-position: right;
  }

  .review {
    margin-bottom: 60px;
  }

  .answer__title {
    margin-bottom: 32px;
  }

  .spoiler-answer {
    padding: 13px 14px;
    margin-bottom: 10px;
  }

  .spoiler-answer_active .spoiler-answer__text {
    margin-top: 20px;
  }

  .spoiler-answer_active .spoiler-answer__text {
    opacity: 1;
  }

  .spoiler-answer__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
  }

  .spoiler-answer__close {
    width: 20.7px;
    height: 20.7px;
    right: 15px;
    top: 18px;
  }

  .spoiler-answer__text {
    font-size: 16px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    opacity: 0;
  }

  .call__title {
    margin: 0 0 20px 0;
  }

  .call__text {
    font-size: 16px;
    line-height: 26px;
    padding-left: 60px;
  }

  .call__text:not(:last-child) {
    margin-bottom: 39px;
  }

  .call__text:nth-child(1):before {
    background: url("../img/icons/01.svg") no-repeat center/cover;
  }

  .call__text:nth-child(2):before {
    background: url("../img/icons/2.svg") no-repeat center/cover;
  }

  .call__text:nth-child(3):before {
    background: url("../img/icons/3.svg") no-repeat center/cover;
  }

  .call__line-top,
  .call__line-bottom {
    bottom: -70px;
  }

  .call__line-top {
    left: 6px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border-right: var(--borderWidth) dashed #ff9739;
    padding: 0px 0px 0px 90px;
  }

  .call__line-bottom {
    left: 5px;
    border-left: var(--borderWidth) dashed #ff9739;
    padding: 0px 90px 0px 0px;
  }

  .work {
    padding: 31px 0;
  }

  .work__title {
    margin-bottom: 48px;
  }

  .grid-item img {
    height: 36vh;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .grid-item:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media (min-width: 720px) {
  .benefits__list {
    display: none;
  }

  .benefits img {
    margin: 0 auto;
    display: block;
  }
}

@media (min-width: 768px) {
  .main-h2 {
    font-size: 28px;
  }

  .main-h2:before {
    margin-right: 29px;
    width: 8px;
    height: 120px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
  }

  .header__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: block;
  }

  .header__social a {
    width: 30px;
    height: 30px;
  }

  .header__contact {
    text-align: right;
  }

  .header__contact span {
    font-size: 15px;
    line-height: 18px;
  }

  .header__contact a:not(.header__phone) {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .header__contact span,
  .header__contact a:not(.header__phone) {
    display: block;
  }

  .header__phone {
    display: none;
  }

  .footer {
    padding: 16px 0 10px 0;
  }

  .footer__row {
    gap-row: 10px;
  }

  .footer__list {
    font-size: 0;
  }

  .footer__list a {
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
  }

  .footer__list a:not(:last-child) {
    margin-right: 29px;
  }

  .footer__last img {
    margin-left: 18px;
  }

  .hero-main__bg {
    min-height: 746px;
  }

  .calculator {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .calculator ._container {
    background: rgba(249, 249, 249, 0.5);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border-radius: 5px;
    padding: 50px 63px 28px 63px;
  }

  .calculator__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .calculator input[type="submit"] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 190px;
            flex: 0 0 190px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }

  .calculator input[type="text"]:last-child {
    margin-bottom: 0;
  }

  .calculator__input-row {
    margin-right: 27px;
  }

  .presentation__img-wrapper {
    float: left;
  }

  .presentation__main-img {
    width: 663px;
    height: 466px;
  }

  .presentation__playbutton {
    bottom: 10%;
    right: 0;
  }

  .presentation__content {
    padding: 50px;
    width: 613px;
    height: auto;
    margin-top: -50px;
    float: right;
    position: relative;
    margin-left: auto;
  }

  .presentation__title {
    font-size: 62px;
    line-height: 74px;
  }

  .presentation__title:before {
    bottom: 20px;
    width: 8px;
    height: 119px;
  }

  .presentation__subtitle {
    font-size: 20px;
    line-height: 36px;
  }

  .wedrive {
    margin-bottom: 70px;
  }

  .wedrive__title {
    margin-bottom: 80px;
  }

  .wedrive__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .wedrive__tab {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-bottom: 37px;
  }

  .wedrive__tab .wedrive__tabs-content {
    display: none;
  }

  .wedrive__tabs-content {
    display: block;
    background: #f9f9f9;
    -webkit-box-shadow: -10px -10px 34px rgba(0, 0, 0, 0.05);
            box-shadow: -10px -10px 34px rgba(0, 0, 0, 0.05);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 498px;
            flex: 0 0 498px;
    padding: 41px 43px;
    padding-right: 0;
  }

  .wedrive__tabs-content-title {
    font-weight: 500;
    font-size: 28px;
  }

  .wedrive__tabs-content-img img {
    width: 432px;
    height: 191px;
    -webkit-transform: translateX(15%);
        -ms-transform: translateX(15%);
            transform: translateX(15%);
  }

  .price__title {
    margin-bottom: 35px;
  }

  .card-price {
    border-radius: 30px 0px 50px 0px;
    overflow: hidden;
    padding: 53px 0 69px 51px;
    margin-left: 0px;
  }

  .card-price__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .card-price__prices-row {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .card-price__title {
    font-size: 28px;
    line-height: 34px;
  }

  .card-price__prices {
    margin-bottom: 38px;
    width: 55%;
  }

  .card-price__city {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 255px;
            flex: 0 0 255px;
  }

  .card-price__city,
  .card-price__price {
    font-size: 20px;
    line-height: 24px;
  }

  .card-price__img {
    text-align: right;
    width: initial;
    margin: 0 0 0 45px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .card-price__img img {
    width: 417px;
    height: 404px;
  }

  .spoiler-answer {
    padding: 24px 23px;
    margin-bottom: 13px;
  }

  .spoiler-answer_active .spoiler-answer__text {
    margin-top: 25px;
  }

  .spoiler-answer__title {
    font-size: 20px;
    line-height: 31px;
  }

  .spoiler-answer__close {
    width: 24px;
    height: 24px;
    right: 25px;
    top: 22px;
  }

  .spoiler-answer__text {
    font-size: 20px;
    line-height: 21px;
  }

  .call {
    background: url("../img/miniBg.jpg") no-repeat left;
    background-size: 319px 319px;
    background-position: -200px 75%;
  }

  .call__line {
    position: absolute;
    left: 5%;
    top: 40px;
    bottom: 0;
    max-width: 100%;
    max-height: 85%;
    display: block;
  }

  .call__text {
    padding-left: 150px;
  }

  .call__text:not(:last-child) {
    margin-bottom: 55px;
  }

  .call__text:nth-child(1):before {
    width: 84.15px;
    height: 85px;
    background: url("../img/icons/1-v2.svg") no-repeat center/cover;
  }

  .call__text:nth-child(2) {
    margin-left: 96px;
  }

  .call__text:nth-child(2):before {
    width: 75.77px;
    height: 90px;
    background: url("../img/icons/2-v2.svg") no-repeat center/cover;
  }

  .call__text:nth-child(3):before {
    background: url("../img/icons/3-v2.svg") no-repeat center/cover;
    width: 82.28px;
    height: 90px;
  }

  .call__line-top,
  .call__line-bottom {
    bottom: -120px;
  }

  .call__line-top {
    display: none;
  }

  .call__line-bottom {
    display: none;
  }

  .work__title {
    margin-bottom: 63px;
  }

  .grid-item img {
    height: 44vh;
  }

  .grid-item:not(:last-child) {
    margin-bottom: 26px;
  }
}

@media (min-width: 1200px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
  }

  .header__title {
    font-size: 16px;
    line-height: 24px;
  }

  .header__subtitle {
    display: block;
    line-height: 21px;
    color: #6a6a69;
    max-width: 269px;
  }

  .header__contact span {
    font-size: 20px;
    line-height: 24px;
  }

  .hero-main__bg {
    background: url("../img/mainBg.jpg") no-repeat center/cover;
    min-height: 710px;
  }

  .calculator__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .calculator__input-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .calculator input[type="text"] {
    margin-bottom: 0;
  }

  .calculator input[type="text"]:first-child {
    margin-right: 22.5px;
  }

  .calculator input[type="text"]:last-child {
    margin-left: 22.5px;
  }

  .presentation__img-wrapper {
    left: -54px;
    position: relative;
  }

  .presentation__main-img {
    width: 828px;
    height: 579px;
  }

  .presentation__playbutton {
    bottom: 0;
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }

  .presentation__content {
    margin-top: -345px;
    right: -48px;
    padding: 50px 33px;
  }

  .presentation__title:before {
    bottom: 13px;
    height: 125px;
  }
}

@media (min-width: 1366px) {
  .main-h2 {
    font-size: 36px;
  }

  .main-h2:before {
    width: 10px;
    height: 149px;
    margin-right: 25px;
  }

  .footer {
    padding: 12px 0 16px 0;
  }

  .footer__row {
    gap-row: 10px;
    grid-template-areas: "l c r";
  }

  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__last {
    font-size: 11px;
    line-height: 13px;
  }

  .footer__last img {
    width: 32px;
    height: 29.5px;
  }

  .wedrive__title {
    margin-bottom: 80px;
  }

  .wedrive__title:before {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .wedrive__tab {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 60px;
  }

  .wedrive__tab:not(.wedrive__tab_active) {
    margin-left: 0px;
  }

  .wedrive__tabs-content {
    display: block;
    background: #f9f9f9;
    -webkit-box-shadow: -10px -10px 34px rgba(0, 0, 0, 0.05);
            box-shadow: -10px -10px 34px rgba(0, 0, 0, 0.05);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 498px;
            flex: 0 0 498px;
  }

  .wedrive__tabs-content-title {
    font-size: 52px;
  }

  .wedrive__tabs-content-img img {
    width: 561px;
    height: 248px;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    margin-right: 0;
  }

  .price__title {
    margin-bottom: 65px;
  }

  .card-price {
    margin-bottom: 50px;
    padding: 64px 0 74px 99px;
  }

  .spoiler-answer {
    padding: 24px 30px;
    margin-bottom: 15px;
  }

  .spoiler-answer__close {
    width: 28px;
    height: 28px;
    right: 30px;
    top: 21px;
  }

  .spoiler-answer {
    padding: 24px 30px;
    margin-bottom: 15px;
  }

  .spoiler-answer margin_top .spoiler-answer__title {
    margin-bottom: 42px;
  }

  .spoiler-answer__title {
    font-size: 22px;
    line-height: 21px;
  }

  .spoiler-answer__close {
    width: 20px;
    height: 20px;
    right: 34px;
    top: 26px;
  }

  .spoiler-answer__text {
    font-size: 22px;
  }

  .call {
    background-size: 442px 442px;
    background-position: 0px 60%;
  }

  .call__line {
    height: 80%;
    left: 25px;
  }

  .call__text {
    font-size: 25px;
    line-height: 36px;
  }

  .call__text:not(:last-child) {
    margin-bottom: 90px;
  }

  .call__text:nth-child(1):before {
    width: 98px;
    height: 99px;
  }

  .call__text:nth-child(2) {
    margin-left: 96px;
  }

  .call__text:nth-child(2):before {
    width: 97px;
    height: 114px;
  }

  .call__text:nth-child(3):before {
    width: 104px;
    height: 114px;
  }

  .work {
    padding: 40px 0;
  }

  .work__title {
    margin-bottom: 71px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 450px;
    grid-gap: 30px;
    grid-auto-flow: dense;
  }

  .grid-item:not(:last-child) {
    margin-bottom: 0;
  }

  .grid-item img {
    height: 100%;
  }
}

@media (min-width: 1500px) {
  .presentation__img-wrapper {
    left: -170px;
    position: relative;
  }

  .presentation__main-img {
    width: 1144px;
    height: 760px;
  }

  .presentation__playbutton {
    bottom: 120px;
  }

  .presentation__content {
    margin-top: -430px;
    right: -190px;
    padding: 30px 77px;
    width: 808px;
  }

  .presentation__title {
    font-size: 81px;
    line-height: 97px;
    padding-top: 10px;
  }

  .presentation__title:before {
    bottom: 15px;
    width: 10px;
    height: 158px;
  }

  .presentation__subtitle {
    font-size: 25px;
    line-height: 51px;
  }
}

@media (min-width: 1900px) {
  .wedrive__tabs-content-img {
    font-size: 61px;
  }

  .price__title {
    margin-bottom: 65px;
  }

  .card-price__row {
    color: #393939;
  }

  .call {
    background-position: 0 60%;
  }

  .call__text:not(:last-child) {
    margin-bottom: 120px;
  }

  .work {
    padding: 46px 0;
  }

  .work__title {
    margin-bottom: 111px;
  }
}

@media (min-width: 1920px) {
  .main-h2:before {
    width: 10px;
    height: 180px;
    margin-right: 20px;
  }
}

@media (max-width: 836px) {
  .icon-menu {
    display: block;
  }

  .icon-menu__item {
    display: block;
    position: relative;
    max-width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 21;
    left: -50px;
  }

  .icon-menu__item span {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu__item span:first-child {
    top: 0;
  }

  .icon-menu__item span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu__item.active span {
    background-color: #fff;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .icon-menu__item.active span:first-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }

  .icon-menu__item.active span:last-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }
}